* {
    margin: 0;
    padding: 0;
    color:white ;
}
nav {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    font-size: 1.5rem;
}
h1 {
    padding-left: 3.5rem;
}
h1 span {
    color: orangered;
    }
h1:hover {
    transform: scale(1.2);
    transition: 1s ease;
}
a:hover {
    color: orangered;
    text-decoration: underline orangered;
    transition: 1s ease;
}
#hero {
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0.6)),url(/book\ 1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}
.hero h1  {
    font-size: 80px;
}
.hero p {
    font-size: 30px;
    padding-bottom: 15px;
}
.hero button  {
    background-color: orangered;
    width: 160px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
}
.hero button:hover {
    transform: scale(1.3);
    transition: all is ease;
    background-color: crimson;
}
.About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}
.image {
    height: 300px;
    width: 400px;
    margin-left: 50px;
}
.image img {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.text h1 {
    color: black;
    font-size: 50px;
}
.text p {
    color: black;
    font-size: 15px;
    text-align: justify;
    padding-bottom: 15px;
}
.text button {
    background-color: orangered;
    width: 160px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 15px;
    border: none;

}
.text button:hover {
     transform: scale(1.3);
    transition: all is ease;
    background-color: crimson;
}
.image:hover  {
    transform: scale(1.2);
    transition: 1s ease;
}

#ContactUs {
    background:black;
    width: 100%;
}
.Contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 40px;
    
}
.Contact-row :hover {
    transform: scale(1.2);
    transition: 1s ease;
}
.Contact-row form {
    width: 450px;
    padding: 12px 0;
}
.Contact-row form input , textarea {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 18px;
    background-color:white;
}
 .Contact-row form input::placeholder,
 textarea ::placeholder {
    color: #000;
 }
 .Contact-row form input[type="Submit"]{
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: red;
    color:black;
    border: none;
    border-radius: 10px;
    outline: none;
 }       
 .Contact-row form input[type="Submit"]:hover{
    border: 1px solid green;
    color: black;
    background:green;
    transform: scale(1.2);
    transition: 1s ease;
 }
 .Contact-row .col img {
    width: 530px;
    height: auto;
    padding-left: 20px;
 }
  .Contact-row .col h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    
  }  
  h2:hover {
    transform: scale(1.2);
    transition: 1s ease;
  }
.footer {
    background: black;
    padding: 26px 20px;
    text-align: center;
    font-size: 20px;
}

